h2= page.title
!= page.content
ul
  var time
  each post in site.posts.sort('date', 'desc').toArray()
    var year = #{post.date.year()}
    unless time = year
      if time
        h1= year
      p= year
    li
      a(href= config.root + post.path) #{post.title} - #{post.date}
  