<header class="site-head">
  <div class="vertical">
    <div class="site-head-content inner">
      <% if (theme.logo) { %><a class="blog-logo" href="<%- config.root %>"><img src="<%- theme.logo %>" alt="<%- config.title %>"/></a> <% } %>
      <h1 class="blog-title">
        <a href="<% permalink = config.url + config.root %>" alt="<%- config.title %>"><%- config.title %></a>
      </h1>
      <p class="blog-description"><%- config.description %></p>
    </div>
  </div>
</header>

<main class="content" role="main">
  <% page.posts.each(function(post) { %>
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="<%- config.root %><%- post.path %>">
          <%- post.title %>
        </a>
      </h2>
      <span class="post-meta">
        <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
          <%- full_date(new Date(post.date), 'dddd, MMMM Do YYYY') %> at <%- full_date(new Date(post.date), 'H:mm') %>
        </time>
      </span>
    </header>
    <section class="post-excerpt">
      <p>
      <% if (post.intro){ %>
        <%- post.intro %>
      <% } else { %>
        <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
      <% } %>
      </p>
      <% if (theme.excerpt_link) { %>
      <p>
        <a href="<%- config.root %><%- post.path %>" class="excerpt-link btn round-button"><%= theme.excerpt_link %></a>
      </p>
      <% } %>
    </section>
  </article>
  <% }); %>
  <nav class="pagination" role="pagination">
    <% if (page.prev) { %><a class="newer-posts" href="<%- config.root %><%- page.prev_link %>">← Newer Posts</a><% } %>
    <span class="page-number">Page <%- page.current %> of <%- page.total %></span>
    <% if (page.next) { %><a class="older-posts" href="<%- config.root %><%- page.next_link %>">Older Posts →</a><% } %>
  </nav>
</main>
