<header class="site-head">
  <div class="vertical">
    <div class="site-head-content inner">
      <% if (theme.logo) { %> <a class="blog-logo" href="<%- config.root %>"><img src="<%- theme.logo %>" alt="<%- config.title %>"/></a> <% } %>
      <h1 class="blog-title">
        <a href="/" alt="<%- config.title %>"><%- config.title %></a>
      </h1>
      <p class="blog-description"><%- config.description %></p>
    </div>
  </div>
</header>

<main class="content" role="main">
  <article class="post">
    <h1 class="post-title">
      <a href="<% permalink = config.url + config.root + post.path %>" alt="<%- post.title %>"><%- post.title %></a>
    </h1>
    <span class="post-meta">
      <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
        <%- full_date(new Date(post.date), 'dddd, MMMM Do YYYY') %> at <%- full_date(new Date(post.date), 'H:mm') %>
      </time>
      <% if (post.updated) { %><br />Updated on
        <time datetime="<%= date_xml(post.updated) %>" itemprop="datePublished">
          <%- full_date(new Date(post.updated), 'dddd, MMMM Do YYYY') %> at <%- full_date(new Date(post.updated), 'H:mm') %>
        </time>
      <% } %>
      <% if (post.tags && post.tags.length){ %> on <% post.tags.forEach(function(tag) { %><a href='<%= config.root + tag.path %>' style='margin:0 5px;'><%= tag.name %></a><% }); %><% } %>
    </span>
    <section class="post-content">
      <%- post.content %>
    </section>
    <footer class="post-footer">
      <% if (theme.logo) { %> <img class="author-img" src="<%- theme.logo %>" alt="<%- config.author %>"/> <% } %>
      <section class="author">
        <h4><%- config.author %></h4>
        <p><%- theme.bio %></p>
        <p>Feel free to share this post on <a class="btn small-button icon-twitter" href="https://twitter.com/share?url=<%- permalink %>&via=<%- config.twitter %>&text=<%- post.title %>"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><span class="hidden">Twitter</span></a> <a class="btn small-button icon-facebook" href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=<%- post.title %>&p[url]=<%- permalink %>&p[summary]=<%- post.intro %>"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><span class="hidden">Facebook</span></a> <a class="btn small-button icon-gplus" href="https://plus.google.com/share?url=<%- permalink %>" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><span class="hidden">Google+</span></a>.</p>
      </section>
    </footer>
    <section id="comment">
      <h2 class="title">Comments</h2>
      <% if(config.disqus_shortname) { %>
      <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
      <% } %>
    </section>
  </article>
</main>
